<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @history.uid %>
</p>

<p>
  <strong>Pointsput:</strong>
  <%= @history.pointsput %>
</p>

<p>
  <strong>Pointsgot:</strong>
  <%= @history.pointsgot %>
</p>

<p>
  <strong>Result:</strong>
  <%= @history.result %>
</p>

<p>
  <strong>Team:</strong>
  <%= @history.team %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @history.mid %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
