<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Mid</th>
      <th>Team1</th>
      <th>Team2</th>
      <th>Date</th>
      <th>Cutofftime</th>
      <th>Pointst1</th>
      <th>Pointst2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.no %></td>
        <td><%= match.mid %></td>
        <td><%= match.team1 %></td>
        <td><%= match.team2 %></td>
        <td><%= match.date %></td>
        <td><%= match.cutofftime %></td>
        <td><%= match.pointst1 %></td>
        <td><%= match.pointst2 %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
